In [18]:
import pandas as pd

In [19]:
df = pd.read_csv("crypto_and_no_news_for_relevancescore_from_yahoo.csv")

In [20]:
df.head()

   id                                          headlines  target
0   0  ‘Obviously I don’t think women are any less in...     1.0
1   1  Layoffs hit crypto and real estate tech partic...     1.0
2   2  A brief recap of one of the worst weeks in cry...     1.0
3   3  Wells Fargo economist likens crypto collapse t...     1.0
4   4  Crypto's Excruciating Week Has Traders Bracing...     1.0

In [21]:
df['target'].value_counts()

0.0    1187
1.0     546
Name: target, dtype: int64